/* universal styles */
* {
    padding: 5px;
    background: rgb(248, 240, 227);
}

/* displays the scores and the timer on opposite ends of the page */
ul {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    margin-top: 9%;
}

/* UW logo */
img {
    height: 20vh;
    width: 20vh;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 2.5vh;
}

button {
    background: rgb(51, 0, 111);
    color: white;
    border-radius: 10%;
    border: 5px solid rgb(145, 123, 76);
}