/* universal styles */
* {
    padding: 5px;
}

/* displays the scores and the timer on opposite ends of the page */
ul {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
    margin-top: 9%;
}

#main,
#set-container {
    background: rgb(248, 240, 227);
}

/* UW logo */
img {
    height: 20vh;
    width: 20vh;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 2.5vh;
}

button {
    background: rgb(51, 0, 111);
    color: white;
    border-radius: 10%;
    border: 3px solid rgb(145, 123, 76);
}

section {
    position: relative;
    /* top: 35%;
    left: 45%; */
}

.container {
    display: flexbox;
    justify-content: center;
    background: rgb(145, 123, 76);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px 2px;
}

#set-container {
    text-align: center;
}

.hidden {
    display: none;
}

.hide {
    display: none;
}

#answer-choices {
    display: grid;
}

.btn {
    margin: 7px;
}

/* .btn:hover {
    transform: scale(1.5);
} */